<head>
  <style>
    @media only screen and (max-width: 770px) {
      .row {
        text-align: center;
      }
    }
  </style>
</head>
<% layout('layout') -%>
<div class="row" style="padding: 1rem;">
  <% if (foundCart.items.length>0) { %>
  <div class="col-lg-6">
    <% if (message.length>0) { %>
    <div class="alert alert-success alert-dismissible">
      <button class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= message %>
    </div>

    <% } %> <% for( let i = 0; i < foundCart.items.length; i++ ) { %>

    <div
      class="list-group"
      style="margin: 1rem; box-shadow: 6px 6px 5.5px -5px black;"
    >
      <span class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <span>
              <img
                src="<%= foundCart.items[i].item.image %> "
                alt=""
                class="product-image"
              />
            </span>
          </div>
          <div class="col-md-3">
            <p class="list-group-item-heading">
              <%= foundCart.items[i].item.name %>
            </p>
          </div>

          <div class="col-md-3">
            <p>
              <%= foundCart.items[i].quantity %>
            </p>
            <p>
              $<%= foundCart.items[i].price %>
            </p>
          </div>
          <div class="col-md-3">
            <form action="/remove" method="post">
              <input
                type="hidden"
                name="item"
                value="<%= foundCart.items[i]._id %>"
              />
              <input
                type="hidden"
                name="price"
                value="<%= foundCart.items[i].price %> "
              />
              <button type="submit" type="button" class="btn btn-danger">
                Remove
              </button>
            </form>
          </div>
        </div>
      </span>
    </div>

    <% } %>
  </div>
  <% } else {%>
  <div class="col-lg-6" style="padding: 1rem 3rem;">
    <img
      src="https://m.media-amazon.com/images/G/15/cart/empty/kettle-desaturated._CB424694027_.svg"
    />
    <h4 style="padding: 2rem 1.3rem;">Your cart is empty!</h4>
  </div>
  <% } %>

  <div class="col-md-3"></div>
  <div class="col-md3">
    <div class="list-group" style="margin-left: 2rem; margin-top: 1rem;">
      <span
        class="list-group-item"
        style="box-shadow: 6px 6px 5.5px -5px black;"
      >
        <h4>Total: $ <span> <%= foundCart.total %> </span></h4>
        <div class="form-group">
          <input type="hidden" name="" value="<%= foundCart.total %>" />
          <button
            type="submit"
            class="btn btn-primary btn-lg"
            data-toggle="modal"
            data-target="#myModal"
          >
            Pay with Stripe
          </button>
        </div>
      </span>
    </div>
    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pay with Stripe</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <p class="payment-errors"></p>
                <div class="card" style="width: -webkit-fill-available;">
                  <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                      <ul
                        role="tablist"
                        class="nav bg-light nav-pills rounded nav-fill mb-3"
                      >
                        <li class="nav-item">
                          <a
                            data-toggle="pill"
                            href="#credit-card"
                            class="nav-link active"
                          >
                            <i class="fas fa-credit-card mr-2"></i> Pay with
                            Stripe
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="tab-content">
                      <div
                        id="credit-card"
                        class="tab-pane fade show active pt-3"
                      >
                        <form action="/payment" method="post" id="payment-form">
                          <input
                            type="hidden"
                            name="stripeMoney"
                            value="<%= foundCart.total %> "
                          />
                          <div class="form-group">
                            <label for="username">
                              <h6>Card Owner</h6>
                            </label>
                            <input
                              type="text"
                              name="username"
                              placeholder="Card Owner Name"
                              required
                              class="form-control"
                            />
                          </div>
                          <div class="form-group">
                            <label for="card-element">
                              <h6>Card number</h6>
                            </label>
                            <div id="card-element" class="form-control"></div>
                          </div>

                          <div class="card-footer">
                            <button
                              type="submit"
                              class="subscribe btn btn-primary btn-block shadow-sm"
                            >
                              Confirm Payment: $(<%= foundCart.total %> )
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-offset-6">
      <div id="loading" class="text-center"></div>
    </div>
  </div>
</div>
