<head>
  <style>
    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    .categories {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 1rem;
      margin: 5rem 2rem;
    }
    .categories-individual {
      box-shadow: 2px 2px 8px -4px black;
      padding: 2rem;
    }
    .img-container {
      text-align: center;
    }
    img {
      max-width: 250px;
      border-radius: 2rem;
    }
    .caption {
      text-align: center;
    }
    @media only screen and (max-width: 1160px) {
      .categories {
        display: grid;
        grid-template-columns: auto auto;
      }
    }
    @media only screen and (max-width: 760px) {
      .categories {
        display: grid;
        grid-template-columns: auto;
      }
    }
  </style>
</head>

<% layout('layout') -%>
<div>
  <h1 class="text-center" style="margin: 5rem 2rem; text-transform: uppercase;">
    <%= products[0].category.name %>
  </h1>
</div>
<div class="categories">
  <% for( let i = 0; i < products.length; i++ ) { %>
  <div class="categories-individual">
    <a
      style="text-decoration: none; color: rgb(63, 65, 71);"
      href="/product/<%= products[i]._id %> "
    >
      <div class="img-container">
        <img src="<%= products[i].image   %> " alt="" />
        <div class="caption" style="padding: 1rem;">
          <h3><%= products[i].name %></h3>
          <p><%= products[i].category.name %></p>
          <p>$<%= products[i].price %></p>
        </div>
      </div>
    </a>
  </div>
  <% } %>
</div>
